// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/mixins';

/* Global styles */
@import 'global/_grid';
@import 'global/_flex';


/* Styles limited to noc sheets */

@import 'components/charsheet';
@import 'components/itemsheet';