div.tidy5e.sheet.actor.doll-inventory-sheet.actor {
    div.waiting {
        position: absolute;
        z-index: +1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 0, 0, 0.105);

        i {
            font-size: 26rem
        }
    }

    nav.tidy5e-navigation.tabs {
        justify-content: end;
        position: absolute;
        bottom: -2.5rem;
        width: 100%;


        div.toggle-allow-edit {
            background: none;
            border: 1px solid transparent;


            span {
                position: relative;
                top: -0.5rem;
            }
        }

        a.item,
        a.item:first-child {
            transition: 0.3s;
            padding: 0px 10px;
            position: relative;
            max-width: 2rem;
            height: 2.5rem;
            border: none;
            box-shadow: 0px 0px 15px black;
            clip-path: polygon(0 0, 100% 0%, 100% 30%, 50% 70%, 0% 30%);

            &[data-tab="attributes"] i {
                color: black
            }

            &.active {
                padding: 3px 8px;
                font-size: larger;
                clip-path: polygon(0 0, 100% 1%, 100% 74%, 50% 100%, 0 74%);

            }

            &:hover {
                color: black;
                clip-path: polygon(0 0, 100% 1%, 100% 74%, 50% 100%, 0 74%);

            }
        }
    }

    #item-info-container {
        top: 0;
        left: 100%;
        transform: translateY(0);
        height: 30%;
        z-index: +1;
    }

    form div section.sheet-body {
        padding: 0 0 0 0;

        .tab {
            width: 100%;
        }


        .left-pane {
            justify-content: center;
            display: flex;
            padding: 0;
            margin: 0;
            background: linear-gradient(to bottom, #cf0c0cac 0%, #cf9115a4 100%);
            border-right: 6px double;

            .skills-list {
                border: none
            }



            .traits {
                border: none
            }

            ul.resources {
                display: flex;
                flex-direction: row;

                .resource {
                    position: relative
                }
            }
        }



        .center-pane {
            margin: 0;
            border-top: 6px double;
            position: relative;

            div.inventory-toggle {
                position: absolute;
                right: 0%;
                top: 0%;
                text-shadow: 0px 0px 15px orange;
                z-index: +1;

            }

            .tidy-tools {
                box-shadow: -3px 0px 5px black;
                max-width: 30%;
                transition: 0.2s;

                .items-header-labels,
                .item-detail {
                    display: none
                }







            }

            .inventory-doll {
                &:hover {
                    z-index: +1;
                }

                padding: 1rem;
                padding-top: 1rem;
                display: grid;
                grid-template-rows: repeat(8, minmax(1.5rem, 3rem));
                grid-template-columns: repeat(6, 1fr);
                background-size: 80% auto;
                background-position: center;
                background-repeat: no-repeat;
                gap: 3px;
                max-width: 90%;
                max-height: min-content;
                background-size: 100% auto;
                background-position: center;
                overflow: visible;


                .doll-switch[data-hand="main"] {
                    grid-row: 6/7;
                    grid-column: 3/4;
                    z-index: +1;
                    color: white;
                    position: relative;

                    i {
                        position: absolute;
                        bottom: 35%;
                        right: 20%;
                        font-size: 20px;
                        text-shadow: 0px 0px 10px red
                    }
                }

                .doll-switch[data-hand="off"] {
                    grid-row: 6/7;
                    grid-column: 4/5;
                    z-index: +1;
                    color: white;
                    position: relative;

                    i {
                        position: absolute;
                        bottom: 35%;
                        left: 25%;
                        font-size: 20px;
                        text-shadow: 0px 0px 10px red
                    }
                }

                .doll-location {

                    padding: 0.1rem;
                    position: relative;
                    border: 2px solid gray;
                    font-size: x-small;
                    border-radius: 10px;
                    background-color: rgb(128, 128, 128);
                    background-size: cover;
                    background-position: center;
                    transition: 0.2s;
                    transition-delay: 0.3s;
                    min-width: 2rem;
                    min-height: 2rem;

                    li {
                        list-style: none;
                    }


                    &:hover {

                        z-index: +1
                    }



                    h4.location-name {
                        opacity: 0;
                        position: absolute;
                        text-align: center;
                        top: -0.7rem;
                        left: -15%;
                        width: 130%;
                        text-align: center;
                        background-color: transparent;
                        text-shadow: 0px 0px 6px white, 0px 0px 10px white;
                    }

                    .item-name {
                        position: absolute;
                        opacity: 1;
                        color: white;
                        text-align: center;

                        div.item-image {
                            opacity: 0;
                            max-width: 50%;
                            transition: 0.2s;
                        }

                        h3 {
                            font-size: 0.8rem
                        }

                        &:hover {


                            .item-image {
                                opacity: 0.7;

                                i {
                                    font-size: 2rem;
                                    cursor: pointer;
                                }
                            }

                            h3 {
                                width: 200%;
                                left: -100%
                            }
                        }
                    }

                    &:hover .location-name {
                        opacity: 1;
                        background-color: rgba(51, 51, 51, 0.589);

                    }



                    .location-item {
                        position: relative;
                        width: 100%;
                        height: 100%;
                    }

                    #context-menu {
                        z-index: +1;
                        display: none;
                        width: 100%;
                        height: max-content;
                        min-width: max-content;
                        max-width: max-content;

                        color: var(--t5e-primary-font);
                        max-height: 203px;
                        background: var(--t5e-background);
                        border: 1px solid var(--t5e-context-outline);
                        position: absolute;
                        z-index: 100;
                        border-radius: 5px;
                        padding: 3px 2px;
                        overflow-y: auto;
                        -webkit-box-shadow: 0 0 5px var(--t5e-context-shadow);
                        box-shadow: 0 0 5px var(--t5e-context-shadow);

                        ol {
                            display: flex;

                            flex-direction: column;


                            li {

                                i {
                                    padding: 2px 0px;
                                    font-size: 0.7rem
                                }

                                line-height: 1.1rem;

                                height: min-content;
                                padding: 0;
                                width: 100%;

                                &:hover {
                                    box-shadow: 0 0 2px var(--t5e-tertiary-color),
                                        0 0 0 1px var(--t5e-tertiary-color) inset;
                                    color: var(--t5e-primary-font);
                                }
                            }
                        }
                    }





                    &[data-location="coinPouch"] {
                        grid-row: 8/9;
                        grid-column: 6/7;
                    }

                    &[data-location="bag"] {
                        grid-row: 8/9;
                        grid-column: 5/6;
                    }

                    &[data-location="ready4"] {
                        grid-row: 8/9;
                        grid-column: 4/5;
                    }

                    &[data-location="ready3"] {
                        grid-row: 8/9;
                        grid-column: 3/4
                    }

                    &[data-location="ready2"] {
                        grid-row: 8/9;
                        grid-column: 2/3
                    }

                    &[data-location="ready1"] {
                        grid-row: 8/9;
                        grid-column: 1/2
                    }

                    &[data-location="head"] {
                        grid-row: 1/2;
                        grid-column: 1/2;
                    }

                    &[data-location="chest"] {
                        grid-row: 2/3;
                        grid-column: 1/2;
                    }

                    &[data-location="pants"] {
                        grid-row: 3/4;
                        grid-column: 1/2;
                    }

                    &[data-location="boots"] {
                        grid-row: 4/5;
                        grid-column: 1/2;
                    }

                    &[data-location="gloves"] {
                        grid-row: 5/6;
                        grid-column: 1/2;
                    }

                    &[data-location="cloak"] {
                        grid-row: 6/7;
                        grid-column: 1/2;
                    }

                    &[data-location="bauble1"] {
                        grid-row: 1/2;
                        grid-column: 6/7;
                    }

                    &[data-location="bauble2"] {
                        grid-row: 2/3;
                        grid-column: 6/7
                    }

                    &[data-location="bauble3"] {
                        grid-row: 3/4;
                        grid-column: 6/7
                    }

                    &[data-location="bauble4"] {
                        grid-row: 4/5;
                        grid-column: 6/7
                    }

                    &[data-location="bauble5"] {
                        grid-row: 5/6;
                        grid-column: 6/7
                    }

                    &[data-location="cosmetics"] {
                        grid-row: 6/7;
                        grid-column: 6/7
                    }

                    &[data-location="stowMain"] {
                        grid-row: 6/7;
                        grid-column: 3/4;
                        top: -50%;
                        left: -50%;
                        background-size: -100% 100%;
                    }

                    &[data-location="mainHand"] {
                        grid-row: 7/8;
                        grid-column: 3/4;
                        transform-origin: center;
                        transform: scale(1.2);
                        top: -30%;
                        left: -50%
                    }

                    &[data-location="stowOff"] {
                        grid-row: 6/7;
                        grid-column: 4/5;
                        top: -50%;
                        right: -50%
                    }

                    &[data-location="offHand"] {
                        grid-row: 7/8;
                        grid-column: 4/5;
                        transform-origin: center;
                        transform: scale(1.2);
                        top: -30%;
                        right: -50%
                    }
                }
            }

            .doll-bags {
                margin-bottom: 5%;


                ul.bag-list {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    gap: 0.2rem;

                    .bagSlot {
                        position: relative;
                        padding: 0.1rem;
                        margin: 0rem 0.3rem;
                        position: relative;
                        border: 2px solid gray;
                        font-size: x-small;
                        border-radius: 10px;
                        background-color: rgb(128, 128, 128);
                        background-size: cover;
                        background-position: center;
                        transition: 0.2s;
                        min-width: 2rem;
                        min-height: 2.5rem;

                        div.item-control {
                            position: absolute;
                            color: white;
                            bottom: 2%;
                            justify-content: space-between;

                            pointer-events: none;
                            opacity: 0;
                            text-shadow: 0px 0px 3px black;
                        }

                        &:hover {
                            transform: scale(1.2);
                            z-index: +1;

                            div.item-control {
                                opacity: 1;
                                pointer-events: all;
                            }
                        }
                    }
                }

            }

        }

        .tab.config {
            overflow: scroll;

            .form-group {
                border-bottom: 1px solid;

                img {
                    max-width: 5rem;
                }
            }

        }
    }
}