div.window-app.sheet.item {
    .dollInventory.location-selector {
        padding: 0;
        color: red;
        font-size: smaller;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        position: absolute;

        bottom: -1.2rem;
        width: 95%;


        div.location {
            opacity: 1;
            position: relative;
            left: 0;
            transition: all 0.3s;


            &:hover {
                transform: scale(2);
                z-index: +1;
            }

            input {
                margin: 0;
                display: inline;
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 1rem orange inset;
                opacity: 0.5;



                &[checked] {
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                    box-shadow: 0px 0px 1rem green inset;


                }
            }
        }

    }

    .tidy-doll-bag {
        ol.currency {
            i.fa-coins {
                color: rgb(186, 163, 36);
                text-shadow: 0px 0px 5px black,
                    0px 0px 25px black;
                font-size: 32px;
                left: -20px;
                position: relative;
            }

            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            list-style: none;
        }
    }
}