<div class="dollInventory location-selector flexcol">

    {{#each this as |location id|}}
    <div class="location {{id}}" data-tooltip="{{location.label}}"
        style="background:url('{{location.icon}}');background-position:
        center;background-size: cover">
        <input type="checkbox"
            data-location="{{id}}"
            {{#if location.available}}checked{{/if}}/>
    </div>
    {{/each}}
</div>